/* font-family: 'Arimo', sans-serif;
font-family: 'Heebo', sans-serif; */

:root{
    --Pblack: #22202a;
    --Ppurple: #814e76;
}

body{
    margin: 0;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: var(--Pblack);
    text-align: center;
}

.loadanim{
    width: 85%;
    height: auto;
    align-self: center;
}

#mainPage{
    margin: 0;
    position: relative;
    background-color:white;
    /* z-index: -1; */
}


#firstTime{
    position: relative;
}
#welcome{
    text-align: left;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: var(--Ppurple);
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 5%;
}

#welcomeWrapper{
    width: 95%;
    margin: 0 auto;
}
#firstAnim > svg{
    transform: translateY(-40px)!important;
}
#firstPandB{
    width: 80%;
    margin: 0 auto;
}
#firstPandB > p{
    color: var(--Pblack);
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    transform: translateY(-60px)!important;
}
#firstPandB{
    align-items: center;
    align-content: center;
}

.welButt{
    width: 272px;
    height: 57px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
    color: white;
    background-color: var(--Ppurple);
    border: none;
    transform: translateY(-40px)!important;
    margin-bottom: 3%;
}
.welButt:active{
    background-color: #d3b2cc;
}
#butWrap{
    margin: 0 auto;
    width: 272px;
}

.header{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: var(--Ppurple);
    font-size: 3.7rem;
    font-style: italic;
    text-align: center;
}

.circuitTab{
    width: 363px;
    height: 80px;
    background-color: var(--Ppurple);
    color: white;
    font-family: 'Arimo', sans-serif;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(208, 199, 200, 0.564));
    margin: 0 auto 15px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-style: italic;
    overflow: hidden;
    position: relative;
}
.circuitTab > div{
    display: none;
}
.expandTab{
    height: 136px;
    overflow: visible;
}
.expandTab > div{
    animation: fadein 0.3s;
    display: block;
}
.circuitname{
    padding: 20px 15px 0 15px;
}
.time{
    float: right;
    font-style: normal;
}

.subBut{
    width: 363px;
    height: 55px;
    background-color: white;
    color: var(--Ppurple);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}
.subBut > h2{
    padding-top: 10px;
    text-align: center;
}
.subBut > img{
    float: right;
    width: 30px;
    padding-right: 15px;
    transform: translateY(-30px)!important;
}
.subBut:active{
    background-color: rgb(132, 132, 132);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#homePage{
    position: relative;
    height: 95vh;
}
#plusBut{
    position: absolute;
    bottom: 40px;
    left: 40%;
}
#plusBut > img{
    width: 80px;
}

#createCircuit{
    text-align: center;
    align-items: center;
    align-content: center;
}
.headerCc{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: var(--Ppurple);
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin-top: 65px;
}
#circuitName{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: var(--Ppurple);
    font-size: 29px;
    font-style: italic;
    text-align: center;
    width: 271px;
    height: 40px;
    filter: drop-shadow(0 0 0.75rem rgba(208, 199, 200, 0.564));
    border: none;
}
#circuitName::placeholder{
    color: #bea9b9;
}
.subHead{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: var(--Ppurple);
    font-size: 29px;
    font-style: italic;
    margin: 20px;
}
#circle{
    width: 230px;
    height: 230px;
    border-color: var(--Ppurple);
    border:solid 5px;
    border-radius: 50%;
    border-color: var(--Ppurple);
    margin: 0 auto;
    color: var(--Ppurple);
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 72px;
}
#timeDisplay{
    margin-top: 30%;
}
#timeSlider{
    -webkit-appearance: none;
    width: 259px;
    height: 14px;
    background-color: var(--Ppurple);
    outline: none;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}
#timeSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: var(--Ppurple);
    cursor: pointer;
}
.createButt{
    width: 212px;
    height: 44px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 23px;
    color: white;
    background-color: var(--Ppurple);
    border: none;
    margin-bottom: 3%;
}

.circuitCreate{
    text-align: center;
}
.titleExc{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 59px;
    color: var(--Ppurple);
    text-align: left;
}
.titleExcWrap{
    width: 90%;
    margin: 0 auto;
}
.excTab{
    width: 363px;
    height: 80px;
    background-color: var(--Ppurple);
    color: white;
    font-family: 'Arimo', sans-serif;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(208, 199, 200, 0.564));
    margin: 0 auto 15px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-style: italic;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.excTab > div{
    display: none;
}
.excTab > p{
    display:none;
    padding: 10px 15px 0 15px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-size:18px;
}
.excExpandTab{
    height: 230px;
    overflow: visible;
}
.excExpandTab > div{
    animation: fadein 0.3s;
    display: block;
}
.excExpandTab > p {
    animation: fadein 0.3s;
    display: block;
}
.excTitle{
    padding: 20px 15px 0 15px;
}

.excNext{
    width: 363px;
    height: 55px;
    background-color: white;
    color: var(--Ppurple);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}
.excNext > h2{
    padding-top: 10px;
    text-align: center;
    font-style: normal;
}
.excNext > img{
    float: right;
    width: 30px;
    padding-right: 15px;
    transform: translateY(-30px)!important;
}
.excNext:active{
    background-color: rgb(132, 132, 132);
}
.backButt{
    width: 212px;
    height: 44px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 23px;
    color: white;
    background-color: var(--Ppurple);
    border: none;
    margin-bottom: 3%;
}

